<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uasmobile_psikisku">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UASMobile_Psikisku">
        <activity android:name=".Instagram"></activity>
        <activity android:name=".Facebook">

        </activity>
        <activity android:name=".Share" />
        <activity android:name=".ShoppingCart2" />
        <activity android:name=".listAppointmentPsikiater" />
        <activity android:name=".AppointmentPsikiater" />
        <activity android:name=".BookingPsikiater" />
        <activity android:name=".updateUser" />
        <activity android:name=".Profile" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ChatBot" />
        <activity android:name=".History" />
        <activity android:name=".Appoinment" />
        <activity android:name=".Booking" />
        <activity android:name=".Checkout" />
        <activity android:name=".Tenagaahli" />
        <activity android:name=".Shoppingcart" />
        <activity android:name=".Psikolog" />
        <activity android:name=".Psikiater" />
        <activity android:name=".Mainmenu" >

        </activity>
        <activity android:name=".Signup" />
        <activity android:name=".Login" />
        <activity android:name=".listAppointment" />
        <activity android:name=".TampilanAwal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>